<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>BTC News</title>
        <link rel="stylesheet" href="/css/style.css" title="main style page">
    </head>

    <body>
        <nav>
            <div class="logo">BTC News</div>
            <p>The latest news about bitcoin, aggregated in one place.</p>
            <div class="nav-right">
                <button id="refresh-btn"> Refresh News </button>
            </div>
        </nav>

        <div id="container-main">
            {{{ body }}}
        </div>

        <footer>
            BTC News | &copy; 2017 Bill Bittner | <a href="https://twitter.com/billbitt2000">@BillBitt</a> | <a href="https://github.com/billbitt/btcNewsHub">github</a>
            
        </footer>

        {{!--JS scripts--}}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="app.js"></script>

    </body>

</html>