<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BTC News</title>
        <link rel="stylesheet" href="/css/style.css" title="main style page">
    </head>

    <body>
        <nav>
            <a id="logo" class="nav-link" href="/">btcHub</a>
            <span id="tagline">A place for bitcoin news and discussion.</span>
            <a class="nav-link nav-right" href=""> login </a>
            <a class="nav-link nav-right" href=""> faq </a>
            <a class="nav-link nav-right" href="/refresh"> Refresh News </a>
        </nav>

        <div id="container-main">
            {{{ body }}}
        </div>

        <footer>
            btcHub | &copy; 2017 <a href="https://twitter.com/billbitt2000">@BillBitt</a> | <a href="https://github.com/billbitt/btcNewsHub">github</a>
            
        </footer>

        {{!--JS scripts--}}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </body>

</html>