<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>BTC News</title>
        <link rel="stylesheet" href="/css/style.css" title="main style page">
    </head>

    <body>
        <nav>
            <div class="logo">BTC News
            </div>
            <div class="nav-right">
                <div class="nav-item" id="login">
                    <a href="/login">Login</a>
                </div>
                <div class="nav-item" id="logout">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </nav>

        <div id="container-main">
            {{{ body }}}
        </div>

        <footer>
            BTC News | &copy; 2017 @BillBitt
            <br>
            github.com/billbitt/btcNews
        </footer>

        {{!--JS scripts--}}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="app.js"></script>

    </body>

</html>