
a {
    color: lightseagreen;
}

a:visited {
    color: darkgray;
}

nav, footer {
    padding: 20px 0px 20px 0px;
}

nav {
    background-color: lightseagreen;
    padding: 10px 0px 10px 10px;
    overflow: auto;
    position: relative;
}

#logo {
    font-style: bold;
}

#tagline {
    color: lightgoldenrodyellow;
    font-style: italic;
}

.nav-right {
    float: right;
}

.nav-link {
    color: white;
    margin: 0px 10px 0px 10px;
}

.nav-link:visited {
    color: lightgoldenrodyellow
}

.article, .comment, .newComment {
    margin: 5px 0px 5px 0px;
    padding: 10px 5px 10px 5px;
}

.newComment {
    width: 400px;
}

.comment-box {
    width: 100%;
    height: 4;
}

.comment {
    overflow: auto;
}

.comment-body, .comment-tools {
    line-height: 0px;
}

.comment-body {
    color: darkslategray;
    
}

.detail-item, .comment-detail {
    margin: 0px 5px 0px 5px;
}

footer {
    text-align: center;
    background-color: lightgrey;
    color: darkslategray;
}


