
nav, #container-main, footer {
    padding: 20px 0px 20px 0px;
}

nav {
    background-color: lightseagreen;
    padding: 10px 0px 10px 10px;
    overflow: auto;
    position: relative;
}

.nav-right {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 20px;
}

.logo {
    font-size: x-large;
    font-style: bold;
}

.article, .toggle-comments, .comment, .newComment {
    margin: 5px 0px 5px 0px;
    padding: 10px 5px 10px 5px;
}

.comment {
    float: clear;
    overflow: auto;
}

.comment-tools, .comment-details {
    float: left;
}

.comment-tools {
    margin: 0px 10px 0px 0px;
}

.comment-button {
    float: clear;
    width: 100%;
}

.comment-body, .comment-author {
    line-height: 0px;
}

.comment-body {
    color: darkslategray;
}

.comment-author {
    color: darkgrey;
}

a {
    color: lightseagreen;
}

a:visited {
    color: darkgray;
}

footer {
    text-align: center;
    background-color: lightgrey;
}


